{erl_opts, [debug_info]}.

{deps, [
        {ranch, ".*",
          {git, "https://github.com/ninenines/ranch",{branch, "master"}}},
        % Override with mine for now.
        {pooler, ".*",
         {git, "https://github.com/marcparadise/pooler", {branch, "master"}}},
        {sqerl, ".*",
         {git, "https://github.com/marcparadise/sqerl", {branch, "mp/multipool"}}},
        {envy, ".*",
         {git, "https://github.com/marcparadise/envy", {branch, "proplist_value_validation"}}},
        {opscoderl_folsom, ".*",
         {git, "https://github.com/chef/opscoderl_folsom", {branch, "master"}}},
        {folsom, ".*",
         {git, "https://github.com/boundary/folsom", {tag, "0.8.2"}}},
        {sync, ".*",
         {git, "https://github.com/rustyio/sync", {branch, "master"}}}
       ]
}.

{relx, [{release, {sqeache, "0.1.0"},
         [sqeache,
          sqerl,
          pooler,
          ranch,
          sasl,
          envy,
          folsom,
          % {sync, load}
          sync,
          % For sync support:
          syntax_tools,
          compiler] },

        {overlay, [
                   {copy,"config/statements.sql", "statements.sql"}
                  ]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}
       ]
}.

{profiles, [{prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]}]}.
