%% ex: ft=eruby.erlang ts=4 sw=4 et
%% -*- erlang-indent-level: 4;indent-tabs-mode: nil; fill-column: 92 -*-
%%
[
 {sqeache, [{acceptor_count, 1024},
            {ip_mode, [ipv4]},
            {ip, "127.0.0.1" },
            {port, 6543},
            {prepared_statement_files, [{testdb, ["statements.sql"]}]}
           ]},
 {sqerl, [{ip_mode, [ipv4]},
          {db_driver_mod, sqerl_pgsql_client},
          {pooler_timeout, 3000},
          {databases, [{testdb, [{db_host, "127.0.0.1"},
                                {db_port, 5432 },
                                {db_user, "sqeache_test"},
                                {db_pass, "sqeache_test"},
                                {db_name, "sqeache_test" },
                                {db_timeout, 5000},
                                {idle_check, 1000},
                                {column_transforms, []},
                                {prepared_statements, {sqeache_app, statements, [testdb]}}
                                ]}]
           }
          ]
 },
 {pooler, [{pools,
            [[{name, testdb},
              {max_count,  50},
              {init_count, 1},
              {queue_max, 5},
              {start_mfa, {sqerl_client, start_link, [{pool, testdb}]}}
             ]
            ]
           }
          ]
  }
].

