%% ex: ft=erlang ts=4 sw=4 et
%% -*- erlang-indent-level: 4;indent-tabs-mode: nil; fill-column: 92 -*-
%%
[
  {sqeache, [{acceptor_count, 100},
             {ip_mode, [ipv4]},
             {ip, "127.0.0.1" },
             {port, 6543},
             {prepared_statement_files, ["statements.sql"]}
            ]},
  {sqerl, [{db_driver_mod, sqerl_pgsql_client},
           {ip_mode, [ipv4]},
           %% Database connection parameters
           {db_host, "127.0.0.1" },
           {db_port, 5432 },
           {db_user, "epgcache" },
           {db_pass, "epgcache" },
           {db_name, "test1" },
           {idle_check, 5000},
           {column_transforms, []},
           {prepared_statements, {sqeache_app, statements, []}}
          ]
  },
  {pooler, [{pools,
             [[{name, sqerl},
               {max_count,  50},
               {init_count, 10},
               {start_mfa, {sqerl_client, start_link, []}}
              ]
             ]
            }
           ]
  }
].
